<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>410385570434-jf6odho516ogv2ufq0gc9m435dnfudo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410385570434-jf6odho516ogv2ufq0gc9m435dnfudo6</string>
	<key>API_KEY</key>
	<string>AIzaSyAc6K-w0XddPH1mQborJaV5mwgzsHRDcQg</string>
	<key>GCM_SENDER_ID</key>
	<string>410385570434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.linck.justgroceries</string>
	<key>PROJECT_ID</key>
	<string>justgroceries-3af71</string>
	<key>STORAGE_BUCKET</key>
	<string>justgroceries-3af71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410385570434:ios:03bf126d6c7332d8</string>
	<key>DATABASE_URL</key>
	<string>https://justgroceries-3af71.firebaseio.com</string>
</dict>
</plist>